*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/*
font-family: 'Alata', sans-serif;
font-family: 'Slabo 27px', serif;
*/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
    min-height: 4rem;

    background-color: #1b262c;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: calc(87vh - 5px);
}

.container-today {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;

    border-right: 2px solid #cccccc;
}

.container-entries {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;

    border-left: 2px solid #cccccc;
}

.container-elements{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    flex-wrap: wrap;
    
    width: 80%;
}

.today-element{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-bottom: 0.5rem;

    width: 100%;
    word-break: break-word;

    background-color: #0f4c75;
    border-radius: 5px;

    color: white;
    font-family: 'Alata', sans-serif;
    font-size: 1rem;
}

.entry-element{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-bottom: 0.5rem;

    width: 100%;

    word-break: break-word;
    font-family: 'Alata', sans-serif;
    font-size: 1rem;
}

.element-text{
    margin-left: 15px;
    width: 80%;
}

.next-review-text{
    margin-left: auto;
    margin-right: 15px;
}

.today-confirm{
    margin-left: auto;
    outline: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    color: #00b7c2;
    font-size: 2rem;
}

.today-confirm:active{
    color: green;
}

.entry-buttons{
    margin-left: auto;
}

.entry-buttons>button{
    outline: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    color: #00b7c2;
    font-size: 2rem;
}

.entry-buttons>button>.fas{
    padding: 5px;
}

.today-confirm>i{
    padding: 5px;
}

.entry-confirm{
    margin-left: auto;
    outline: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    color: #00b7c2;
    font-size: 2rem;
}

.entry-confirm:active{
    color: green;
}

.new-element{
    background-color: #0f4c75;
    border-radius: 5px;
    width: 80%;
}

#desc{
    font-size: 1.5rem;
    border: 1px solid black;
    width: 80%;

    padding-left: 5px;
}

.entry-info{
    color: #cccccc;
}

.delete-btn:active{
    color: red;
}


.footer {
}


/*HEADER*/

.header-text{
    cursor: pointer;
    font-family: 'Alata', sans-serif;
    color: #fdcb9e;
    background-color: #0f4c75;
    border-radius: 5px;

    user-select: none;
}

.section-header{
    padding: 10px;
    font-family: 'Slabo 27px', serif;

    color: #262626;
}

.today-header{
    color: #0f4c75;
    background-color: #fdcb9e;
    border-radius: 5px;

    padding: 5px;
}

hr{
    border-top: 5px solid #fdcb9e;
    border-radius: 5px;
    width: 20%;
}

.choose-tab{
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #eeeeee;

    font-family: 'Slabo 27px', serif;

    user-select: none;
}

.tab{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #eeeeee;
    border-radius: 10px 10px 0 0;

    cursor: pointer;
}

.tab:hover{
    background-color: #FEE5CF;
}

.tab.selected-tab{
    background-color: #fdcb9e;
}

.tab-join{
    height: 5px;
    width: 100%;
    background-color: #fdcb9e;
}

@media only screen and (max-width: 800px) {
    .choose-tab{
        display: flex;
    }

    .container-today, .container-entries {
        border: none;
    }
  }